# Ignore RStudio project files
.Rproj.user/
**/.Rproj.user/
.Rhistory
.RData
.Rapp.history
.Ruserdata

# R Markdown cache
*_cache/
cache/
*_files/

# OS system files
.DS_Store
Thumbs.db

# Notebook checkpoints
notebooks/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
