name: "Heart-Disease-Classifier"

services:

  load_data:
    build:
      context: .
      dockerfile: Dockerfile.load_data
    container_name: load_datas
    volumes:
      - ./data/:/app/data/

  preprocess:
    build:
      context: .
      dockerfile: Dockerfile.preprocessing
    container_name: preprocessing
    volumes:
      - ./data/:/app/data/
      - ./artifacts/:/app/artifacts/
    depends_on:
      - load_data

  descriptive_analysis:
    build:
      context: .
      dockerfile: Dockerfile.descriptive_analysis
    container_name: descriptive_analysis
    volumes:
      - ./data/:/app/data/
      - ./artifacts/:/app/artifacts/
      - ./figured/:/app/figured/
    depends_on:
      - preprocess

  model_random_forest:
    build: 
      context: .
      dockerfile: Dockerfile.model_random_forest
    container_name: Random-Forest
    volumes:
      - ./data/:/app/data/
      - ./checkpoints/:/app/checkpoints/
    depends_on:
      - preprocess

  model_svm:
    build: 
      context: .
      dockerfile: Dockerfile.model_svm
    container_name: SVM
    volumes:
      - ./data/:/app/data/
      - ./checkpoints/:/app/checkpoints/
    depends_on:
      - model_random_forest

  model_evaluation:
    build:
      context: .
      dockerfile: Dockerfile.evaluate_models
    container_name: evaluate_models
    volumes:
      - ./data/:/app/data/
      - ./checkpoints/:/app/checkpoints/
      - ./artifacts/:/app/artifacts/
    depends_on:
      - model_svm
